body {
    background: #0f172a;
    color: white;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    background: #111827;
    border-radius: 10px;
    text-align: center;
}

/* Input with Eye */
.input-box {
    position: relative;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.eye {
    position: absolute;
    right: 25px;
    top: 18px;
    cursor: pointer;
    font-size: 18px;
}

/* Result Colors */
.STRONG { color: #22c55e; }
.MEDIUM { color: #eab308; }
.WEAK   { color: #ef4444; }

/* Strength Bar */
.bar-container {
    width: 90%;
    height: 12px;
    background: #1f2937;
    margin: 10px auto;
    border-radius: 10px;
}

#strengthBar {
    height: 100%;
    width: 0%;
    border-radius: 10px;
    transition: 0.3s;
}
